* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  body { background:  #eee; color: black; }
}

#blur-div {
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

#blur-image {
  display: block;
  margin: 0 auto;

  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);

  position: absolute;
  left: 0px;
  top: 0px;
}

#canvas {
  display: block;
  margin: 0 auto;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 100;
}

.button {
  display: block;
  position: absolute;
  z-index: 200;

  width: 100px;
  height: 30px;

  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 30px;

  border-radius: 5px 5px;
}

#reset-button {
  left: 50px;
  bottom: 20px;

  background-color: #058;
}

#reset-button:hover {
  background-color: #047;
}

#show-button {
  right: 50px;
  bottom: 20px;

  background-color: #085;
}

#show-button:hover {
  background-color: #074;
}
